<section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false" ></section>
<div class="absolute h-screen w-full flex items-center justify-center">
  <div class="absolute top-0 left-0 w-full h-1/2 bg-gradient-to-b from-[#ff0000] to-[#f75f5f] "></div>
  <div class="absolute top-1/2 left-0 w-full h-1/2 bg-white"></div>
  <div class="m-2 relative z-10 flex items-center justify-center">
    <div class="bg-white z-10 flex items-center justify-center">
      <div class="bg-white z-10 flex max-w-md flex-col items-center space-y-8 rounded-3xl px-10 py-10 text-base shadow-xl" >
        <div class="flex flex-col justify-center items-center w-full">
          <img src="https://app-dev-micro-sso-front.azurewebsites.net/assets/logot-0DzOMdIM.png" alt="logoMG" width="288" height="100">
        </div>
        <div class="flex flex-col justify-center items-center w-full">
          <p class="m-2 mb-3 text-gray-500 font-semibold">
            Ingresa el run para acceder a tu cuenta
          </p>
          <div class="w-full">
            <form (ngSubmit)="onLogin()">
              <input [(ngModel)]="rut"
                      name="rut"
                      maxlength="12"
                      type="text"
                      placeholder="Run Usuario"
                      class="border border-gray-300 rounded-lg px-4 py-2 w-full mb-4"
                      required>
              <p class="h-4 ml-1 text-xs font-bold text-transparent"></p>
              <button type="submit" class="w-full mt-2 bg-red-600 hover:bg-red-500 text-white py-2 rounded-xl">Acceder</button>
            </form>
          </div>

        </div>
      </div>
      <div class="-ml-4 bg-white hidden shadow-lg w-5/12 flex-col pl-10 font-sans text-base font-normal text-secondary-800">
        <div class="flex flex-col justify-center items-center">
          <img src="https://app-dev-micro-sso-front.azurewebsites.net/assets/logo_rakin-HZBO4fGH.png" alt="logoRT" width="220">
        </div>
        <p class="text-gray-600 font-semibold text-lg my-3">¿Qué ofrecemos?</p>
      </div>
      <div class="flex flex-col gap-y-2">
        <p class="text-gray-500 font-semibold text-sm">
          Planificación, digitación y análisis de brechas en procesos portuarios.
        </p>
        <p class="text-gray-500 font-semibold text-sm">
          Auditoría integral de instrumentos y sistemas aplicados en operaciones portuarias y mineras.
        </p>
        <p class="text-gray-500 font-semibold text-sm">
          Elaboración y presentación de informes detallados sobre brechas detectadas en las áreas portuarias y mineras.
        </p>
      </div>
    </div>
  </div>
</div>
